:root {
  --border: 1px solid #9e9e9e;
  --border-radius: 0.5rem;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-canvas: #f5f5f5;
  --color-text-dimmed: #b5b5b5;
  --color-clear: #ff894d;
  --color-accept: #91db6c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
button,
span,
label,
input,
textarea {
  font-family: "Outfit", sans-serif;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: yellow;
}

.container__canvas {
  position: relative;
}

.container__canvas-text {
  position: absolute;
  pointer-events: none;

  padding: 1rem;

  color: var(--color-text-dimmed);
}

.container__canvas-input {
  border: var(--border);
  border-radius: var(--border-radius);

  background-color: var(--color-canvas);
}

.container__buttons button {
  padding: 1rem 1.5rem;

  border: none;
  border-radius: var(--border-radius);

  color: var(--color-white);
}

.container__buttons-clear {
  background-color: var(--color-clear);
}

.container__buttons-accept {
  background-color: var(--color-accept);
}
