:root {
  --grid-mobile: repeat(4, 1fr);

  --spacing-s: 2rem;

  --border: 1px solid #9e9e9e;
  --border-radius: 0.5rem;

  --color-white: #ffffff;
  --color-black: #272727;
  --color-canvas: #e9e9e9;
  --color-text-dimmed: #a6a6a6;
  --color-clear: #ff894d;
  --color-accept: #6fbd48;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
button,
span,
label,
input,
textarea {
  font-family: "Outfit", sans-serif;
  font-size: 3.5rem;
  -webkit-font-smoothing: antialiased;
}

.grid {
  display: grid;
  grid-template-columns: var(--grid-mobile);
  gap: var(--spacing-s);
}

.container {
  padding: var(--spacing-s);
}

.container * {
  grid-column: span 4;
}

.container__canvas {
  position: relative;

  display: flex;
  justify-content: center;
}

.container__canvas-text {
  position: absolute;
  pointer-events: none;

  padding: var(--spacing-s);

  color: var(--color-text-dimmed);
}

.container__canvas-input {
  border: var(--border);
  border-radius: var(--border-radius);

  background-color: var(--color-canvas);
}

.container__result {
  padding: var(--spacing-s);

  border: var(--border);
  border-radius: var(--border-radius);

  background-color: var(--color-white);
}

.container__buttons {
  display: flex;
  justify-content: space-between;
}

.container__buttons button {
  padding: 2rem 2.5rem;

  border: none;
  border-radius: var(--border-radius);

  color: var(--color-white);
}

.container__buttons-clear {
  background-color: var(--color-clear);
}

.container__buttons-accept {
  background-color: var(--color-accept);
}
